body {
  margin: 0;
  background-color: #ccc;
}

h3 {
  margin-top: 0;
}

.product-card {
  background-color: #fff;
  max-width: 180px;
  min-width: 180px;
  height: -webkit-fill-available;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 3px solid orange;
  border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.product-card:hover{
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.products{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.button{
    background-color: grey;
    border: none;
    margin: 1px;
    width: 100%;
    height: 35px;
    text-align: center;
    margin-top: auto;
}

.button:hover{
    background-color: lime;
    border: 2px solid black;
    border-radius: 5px;
}