.hero {
    min-height: 250px;
    display: flex;
    align-items: center;
    position:relative;
    justify-content: center;
    overflow: hidden;
}

.hero__content {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero__image {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero__text {
    font-size: 18px;
}